body{
  background-color: rgba(238, 123, 123, 0.719);
  font-family: corbel;
}

button {
  width:150px;
  height:45px;
  background-color:rgba(245, 67, 67, 0.719);
  color:rgb(33, 20, 218);
  font-family: corbel;
  font-size: 20px;
  font-weight: bold;
}

button:hover{
  background-color: rgba(245, 0, 0, 0.719);
  border-width: 2px;
  border-color: black;

}