/* this body selector is setting the color and font and basic styling for the html document */
body{
  background-color: rgb(24, 223, 173);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* The P selector sets the paragraph color to white and aligns it in center */
p {
  color: white;
  text-align: center;
}

/* This is a class slector, all html elements with this class will be to the right and colored blue */
.center {
  text-align: right;
  color: rgba(15, 103, 219, 0.932);
}

/* This is how to group more than one selectors */
h1, h2, h6 {
  text-align: center;
  color: rgb(228, 77, 160);
  font-family: corbel;
}